* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}
.main-container {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* Sidebar */

.sidebar {
    position:relative;
    background: url(https://i.pinimg.com/564x/93/8d/7a/938d7a97c40421d3250b00d2c7185572.jpg) no-repeat;
    background-color: #1e2939; 
    background-size: cover;
    max-width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;  
}
.my-photo {
    max-width: 290px;
    margin-left: 10%;
}

/*Contacts container*/

.contacts-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}
.link { 
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in;
}
.link:hover {
    color: #465f85;
}

/*Tech Skills container*/

.tech-skills-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;       
}

/*Soft Skills container*/

.soft-skills-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}

.skills {
    color: #ebf4ff;
}
.list {
    color:  #003077;
}
/*Language container*/

.language {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}
.bar {
    height: 10px;
    width: 98%;
    border: 2px solid #1e2939;
    background-color: #465f85; 
    border-radius: 20px;
    position: relative;
}
.bar span {
    position: absolute;
    height: 100%;
}
.bar.de span {
    width: 20%;
}
.bar.fr span {
    width: 20%;
}
.bar.en span {
    width: 30%;
}
.bar.uk span {
    width: 100%;
}
.bar.ru span {
    width: 100%;
}
.bar span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    border-radius: 20px;
    animation: progress_bar 1s ease-in-out forwards;
}
@keyframes progress_bar {
    to {
      width: 100%;
    }
}

/*Sociol container*/

.sociol-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    letter-spacing: 0.42px;
}
.sociol {
    color: #ffffff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;

}
.sociol__link {
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: #ffffff;  
}
.telegram:hover {
    border-color: #0088cc;
    box-shadow: 0px 0px 15px #0088cc;
    color: #0088cc;
}
.viber:hover {
    border-color: #8f5db7;
    box-shadow: 0px 0px 15px #8f5db7;
    color: #8f5db7;
}
.linkedin:hover {
    border-color: #0077b5;
    box-shadow: 0px 0px 15px #0077b5;
    color: #0077b5;
}
.skype:hover {
    border-color: #00aff0;
    box-shadow: 0px 0px 15px #00aff0;
    color: #00aff0;
}
.github:hover {
    border-color: #F4CBB2;
    box-shadow: 0px 0px 15px #F4CBB2;
    color: #F4CBB2;
}
.codepen:hover {
    border-color: #3a3875;
    box-shadow: 0px 0px 15px #3a3875;
    color: #3a3875;
}
.icons {
    width: 20px;
    font-size: 20px;
}

.cv {
    position: absolute;
    display: inline-block;
    bottom:0;
    margin-bottom: 3%;
    margin-left: 10%;
}
.link_cv {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in;
}
.link_cv:hover {
    color: #465f85;
}
/*Abaut me container*/

.abaut-me-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
}
.proffesion {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.neime {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 25px;
}
.info {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}
.adaut-mi-taitl {
    font-size: 22px;
    font-weight: 500;
    margin-top: 55px;
    margin-bottom: 35px;
}
.data {
    color:  #525a64;
}   
.company {
    text-decoration: none;
    color:  #003077;
}
.work-experience {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; 
}

.card--hidden {
    display: none !important;
}

/* Batton more */

.btm-more {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 30px;

    background-color: #f5f7fa;
    border-radius: 4px;
    border: none;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #465f85;

    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btm-more:hover {
    background-color: #dadada;
}

.fa-chevron-down {
    margin-right: 10px;
}

.education {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}
.proffesion-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.education-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.univwesity {
    text-decoration: none;
    color:  #003077;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}